.card {
  width: 20%;
  height: 400px;
  float: left;
  position: relative;

  -webkit-transition: all 0.2s ease-in-out;
}

#new-card:hover {
  cursor: pointer;
  opacity: 0.9;
}

.card-title {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 200;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-input {
  font-size: 26px;
  width: 75%;
}

.card-heading {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 200;
}

.card-subheading {
  margin-bottom: 5px;
}

.card-field {
  margin-left: 20px;
  font-weight: bold;
  font-size: 40px;
}

.card-plus {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 160px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-actions {
  margin-left: 20px;
  position: absolute;
  left: 0; right: 0;
  bottom: 20px;
}

.card-ul {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
}

.modal {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  margin: 5%;
  padding: 10px;
  background-color: #fff;
}

.modal-body {
  padding: 0 5px;
  overflow-y: scroll;
  height: 330px;
}

.modal .card-title {
  font-size: 30px;
}

.modal-dismiss {
  text-decoration: none;
  color: #999;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-delete {
  float: right;
  margin-right: 20px;
}

.button-delete:hover {
  color: indianred;
}

.bg {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.bg-blue    { background-color: lightblue; }
.bg-green   { background-color: lightgreen; }
.bg-red     { background-color: indianred; }
.bg-yellow  { background-color: #ffc40d }
.bg-orange  { background-color: orange; }
.bg-pink    { background-color: pink; }
.bg-purple  { background-color: mediumpurple; }

@media (max-width: 1400px) {
  .card {
    width: 25%;
  }
}

@media (max-width: 1150px) {
  .card {
    width: 33.3333%;
  }
}

@media (max-width: 820px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 630px) {
  .card {
    width: 100%;
  }

  #new-card {
    height: 200px;
  }

  .card-plus {
    margin-top: 10px;
    font-size: 100px;
    line-height: 60px;
  }
}
